.list__container {
    display: flex;
    justify-content: center;
    margin: 20px;
    /* position: sticky; */
}

.list__wrapper {
    display: flex;
    width: 100%;
    max-width: 1024px;
    gap: 20px;
}

.list__search {
    flex: 1;
    background-color: var(--color-green);
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    color: var(--color-brown);
    height: max-content;
}

.list__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-brown);
}

.list__result {
    flex: 3;
}

.ls__item {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-bottom: 10px;
}

.ls__item>label {
    font-size: 12px;
    margin-bottom: 5px;
}

.ls__item>input {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-light-green);
}

.ls__item>span {
    height: 30px;
    padding: 5px;
    background-color: var(--color-light-green);
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-nav);
}

.ls__option__item {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.ls__option__input {
    width: 50px;
    background: var(--color-light-green);
    border: none;
    border-radius: 3px;
}

.ls__option__items {
    padding: 10px;
}

.list__search>button {
    padding: 10px;
    border: none;
    background: var(--color-nav);
    color: var(--color-brown);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    width: 100%;
}