.featured {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    gap: 20px;
    z-index: 1;
}

.featured__image{
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.feature__item {
   
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.966);
    height: 250px;
}

.featured__titles {
    position: absolute;
    /* left: 20px;
    bottom: -5px; */
    color: var(--color-nav);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}